
    <!DOCTYPE html>
    <html>
        <head>
            <title>
                Abi (Under 10) 50m Breast
            </title>
        </head>
        <body>
            <h3>Abi (Under 10) 50m Breast</h3>
    
        <svg height="30" width="400">
                <rect height="30" width="314.39" style="fill:rgb(0,0,255);" />
        </svg>47.76<br />
        
        <svg height="30" width="400">
                <rect height="30" width="300.89" style="fill:rgb(0,0,255);" />
        </svg>45.71<br />
        
        <svg height="30" width="400">
                <rect height="30" width="321.43" style="fill:rgb(0,0,255);" />
        </svg>48.83<br />
        
        <svg height="30" width="400">
                <rect height="30" width="314.39" style="fill:rgb(0,0,255);" />
        </svg>47.76<br />
        
        <svg height="30" width="400">
                <rect height="30" width="304.05" style="fill:rgb(0,0,255);" />
        </svg>46.19<br />
        
        <svg height="30" width="400">
                <rect height="30" width="347.89" style="fill:rgb(0,0,255);" />
        </svg>52.85<br />
        
        <svg height="30" width="400">
                <rect height="30" width="324.39" style="fill:rgb(0,0,255);" />
        </svg>49.28<br />
        
        <svg height="30" width="400">
                <rect height="30" width="301.22" style="fill:rgb(0,0,255);" />
        </svg>45.76<br />
        
        <svg height="30" width="400">
                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>53.17<br />
        
        <svg height="30" width="400">
                <rect height="30" width="316.49" style="fill:rgb(0,0,255);" />
        </svg>48.08<br />
        
        <p>Average time: 0:48.54</p>
        </body>
    </html>
    
