
    <!DOCTYPE html>
    <html>
        <head>
            <title>Abi (Under 10) 100m Breast</title>
            <link rel="stylesheet" href="/static/webapp.css">
        </head>
        <body>
            <h3>Abi (Under 10) 100m Breast</h3>
    
        <svg height="30" width="400">
                <rect height="30" width="339.31" style="fill:rgb(0,0,255);" />
        </svg>1:40.34<br />
        
        <svg height="30" width="400">
                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>1:43.50<br />
        
        <svg height="30" width="400">
                <rect height="30" width="349.36" style="fill:rgb(0,0,255);" />
        </svg>1:43.31<br />
        
        <svg height="30" width="400">
                <rect height="30" width="348.21" style="fill:rgb(0,0,255);" />
        </svg>1:42.97<br />
        
        <p>Average time: 1:42.53</p>
        </body>
    </html>
    
